version: '3.8'

services:
  # --- 1. Serviço de Banco de Dados (SQL Server) ---
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql-db
    environment:
      ACCEPT_EULA: 'Y'
      SA_PASSWORD: '${DB_PASSWORD}' 
    ports:
      - "1433:1433"
    volumes:
      - mssql-data:/var/opt/mssql

  # --- 2. Serviço da API (Backend .NET) ---
  api:
    container_name: backend-api
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8081:8080" 
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: 'Server=db;Database=PatientInsuranceDb;User=sa;Password=${DB_PASSWORD};TrustServerCertificate=True'
      ASPNETCORE_URLS: 'http://+:8080'
    depends_on:
      - db

  # --- 3. Serviço do App (Frontend Angular) ---
  frontend:
    container_name: frontend-app
    build:
      context: ./frontend 
      dockerfile: Dockerfile
    ports:
      - "4200:80" # Expõe o Nginx (80) para o host (4200)
    depends_on:
      - api 


volumes:
  mssql-data:
    driver: local